/* @page {
  margin: 0;
  size: calc(11in/3) 8.5in;
} */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 13pt;
  line-height: 1.25em;
  background-color: #EEE;
}

body {
  color: #333;
  background-color: #FFF;

  font-family: "Adobe Caslon Pro", serif;
  text-align: center;

  width: 4.25in;
  /* height: 100vh; */

  padding: 1em 2em;
  margin: 0 auto;

}

/* reset headers */
h1,
h2,
h3 {
  font-size: 1em;
  font-weight: 700;
}

body > header {
  color: #999;

  padding: .5em;

  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;

}
body > header  h1 {
  font-style: italic;
  font-size: 1.7em;
  margin: .25em auto;
  font-weight: normal;
  font-feature-settings: 'kern' 1, 'onum' 1, 'liga' 1;

}
img.logo {
  /* width: 50%; */
  width: 50%;
  height: 50%;
}
img.star {
  width: 10%;
  height: 10%;
}

/* menu section */
body > main {
  height: 100%;

  /* display: flex;
  flex-flow: column nowrap;
  justify-content: space-evenly; */

}

/* menu section headings */
body > main > h1 {
  letter-spacing: .25em;
  padding-left: .25em;
  padding-top: 1.5em;

  font-size: 1.1em;
  font-family: "Imprint MT Shadow", serif;
  font-weight: normal;
}

/* menu items */
article {
  display: flex;
  flex-flow: column nowrap;
}
article > p {
  font-style: italic;
}
article > p > em {
  font-style: normal;
  font-weight: 700;
  padding-left: .25em;
}
article > h1 > em {
  font-style: normal;
  font-weight: 700;
  padding-left: .25em;
}
