header {

  margin: 0 auto;
  height: 8em;
  width: 100%;
  margin-bottom: .5em;

  > figure {
    width: 100%;
    height: 100%;
    // min-height: 10em;
    // min-width: 10em;

    background: url('../images/ona-logo-bw@4x.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
  }

  > .tag {
    width: min-content;
    height: 100%;
    padding: 0;

    font-size: 1.38em;

    > * {
      padding: 0;
    }

    p {
      font-size: 1.5em;
      font-style: italic;
    }
  }


  &.panel {
    font-size: 1em;
    padding: 6em;
    margin-bottom: 0;

    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;

    > figure {
      background-position: left;
    }
  }

}
