@mixin paper {
  background-image: linear-gradient(rgba(150, 120, 30, .4), rgba(150, 120, 30, .4)), url("../images/paper/ricepaper/ricepaper.png");

}

@mixin centerline-vertical {
  background: linear-gradient(to right,
                            transparent 0%,
                            transparent calc(50% - 0.81px),
                            rgba(255, 0, 0, .2) calc(50% - 0.8px),
                            rgba(255, 0, 0, .2) calc(50% + 0.8px),
                            transparent calc(50% + 0.81px),
                            transparent 100%);
}

@mixin letter-space($space: .2em) {
  padding-left: $space;
  letter-spacing: $space;
  text-transform: uppercase;
}

@mixin flex-column {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  align-content: center;
}

@mixin flex-row {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  align-content: center;
}
