// @import url('https://fonts.googleapis.com/css?family=Crimson+Text:400,400i,700');

@import 'mixins';

$page_width: 820px;
$page_height: 312px;

@page {
  size: $page_width $page_height;
  margin: 0;
}

html {
  background: white;

}

body {

  width: $page_width;
  text-align: center;
}





.covers {
  article {
    width: 820px;
    height: 312px;
    > main {
    }
  }
}
