@import 'mixins';

$page_width: 4.25in;
$page_height: 11in;

@page {
  size: $page_width $page_height;
  margin: 0;
}

html {
  font-size: 11pt;
}
.panel {
  height: $page_height/3;
  height: auto;
  flex-flow: column;
  padding: 0 2em;
  section {
    padding: 1em;
    > h2 {
      font-size: .85em;
    }
  }
  article {
    h1 {
      display: block;
      display: inline;
    }
    div, p {
      display: inline;
      text-align: center;
    }
    p, ul {
      display: none;
    }
    .size {
      display: inline;
      font-style: italic;;
      .label {
        display: none;
      }
    }
    .option {
      display: block;
      display: none;
      font-style: italic;

    }
  }
}

header.panel {
  flex-flow: row;
  align-items: center;
  padding: 1em;
  figure {
    height: 4em;
    background-position: center;
  }

}

body {
  width: $page_width;
  font-size: 1.2em;
}

aside {
  padding: 0 1em;
}

.divider {
  height: 1em;
  margin: .5em;
}


#appetizers {
  // width: 85em;
  // text-align: left;
}

#appetizers>article>* {
  // display: inline;
}

#sides article {
  font-size: .75em;
}

#brand  {
  // height: 10em;
  > h1 {
    padding: .1em;
    // font-size: .;
  }

  .banner-logo {
    width: 11.11em;
    margin: 0 auto;
  }

  article {
    > ul > li {
      display: block;
      &::after {
        content: '';
        display: none;
      }
    }
  }

  .address {
    font-size: .8em;
  }
}


#purveyors {
  display: grid;
  width: 100em;
  grid-template-columns: 33% 33% 33%;
  grid-auto-rows: 1fr;

  display: none;

  > h1, > h2 {
    grid-column: 1 / -1;
  }
  > h1 {
    width: max-content;
    margin-left: auto;
    margin-right: auto;
  }
  > article {
    font-size: .8em;
  }

  .loc {
    &::after {
      content: '';
    }
  }
}

.notes {
  font-size: .7em;
  font-style: italic;
  grid-column: 1 / -1;
  padding-top: 1em;
  margin-top: 1em;
  border-top: 2px #CCC solid;
}
